In [252]:
import pandas as pd
from statistics import mean
data_train = pd.read_csv('/Users/michael/Desktop/spaceship-titanic/train.csv')
data_test = pd.read_csv('/Users/michael/Desktop/spaceship-titanic/test.csv')

#print(data_train)
#print(data_test)
x = data_train
#, y = data_train.iloc[:, :-1], data_train.iloc[:, [-1]]
x_test = data_test
print(x, y)
print(x_test)

     PassengerId HomePlanet CryoSleep     Cabin    Destination   Age    VIP  \
0        0001_01     Europa     False     B/0/P    TRAPPIST-1e  39.0  False
1        0002_01      Earth     False     F/0/S    TRAPPIST-1e  24.0  False
2        0003_01     Europa     False     A/0/S    TRAPPIST-1e  58.0   True
3        0003_02     Europa     False     A/0/S    TRAPPIST-1e  33.0  False
4        0004_01      Earth     False     F/1/S    TRAPPIST-1e  16.0  False
...          ...        ...       ...       ...            ...   ...    ...
8688     9276_01     Europa     False    A/98/P    55 Cancri e  41.0   True
8689     9278_01      Earth      True  G/1499/S  PSO J318.5-22  18.0  False
8690     9279_01      Earth     False  G/1500/S    TRAPPIST-1e  26.0  False
8691     9280_01     Europa     False   E/608/S    55 Cancri e  32.0  False
8692     9280_02     Europa     False   E/608/S    TRAPPIST-1e  44.0  False

      RoomService  FoodCourt  ShoppingMall     Spa  VRDeck               Name  \
0             0.0        0.0           0.0     0.0     0.0    Maham Ofracculy
1           109.0        9.0          25.0   549.0    44.0       Juanna Vines
2            43.0     3576.0           0.0  6715.0    49.0      Altark Susent
3             0.0     1283.0         371.0  3329.0   193.0       Solam Susent
4           303.0       70.0         151.0   565.0     2.0  Willy Santantines
...           ...        ...           ...     ...     ...                ...
8688          0.0     6819.0           0.0  1643.0    74.0  Gravior Noxnuther
8689          0.0        0.0           0.0     0.0     0.0    Kurta Mondalley
8690          0.0        0.0        1872.0     1.0     0.0       Fayey Connon
8691          0.0     1049.0           0.0   353.0  3235.0   Celeon Hontichre
8692        126.0     4688.0           0.0     0.0    12.0   Propsh Hontichre

      Transported
0           False
1            True
2           False
3           False
4            True
...           ...
8688        False
8689        False
8690         True
8691        False
8692         True

[8693 rows x 14 columns] 0       False
1        True
4        True
7        True
9        True
        ...
8683    False
8684     True
8685     True
8689    False
8690     True
Name: Transported, Length: 6865, dtype: bool
     PassengerId HomePlanet CryoSleep     Cabin    Destination   Age    VIP  \
0        0013_01      Earth      True     G/3/S    TRAPPIST-1e  27.0  False
1        0018_01      Earth     False     F/4/S    TRAPPIST-1e  19.0  False
2        0019_01     Europa      True     C/0/S    55 Cancri e  31.0  False
3        0021_01     Europa     False     C/1/S    TRAPPIST-1e  38.0  False
4        0023_01      Earth     False     F/5/S    TRAPPIST-1e  20.0  False
...          ...        ...       ...       ...            ...   ...    ...
4272     9266_02      Earth      True  G/1496/S    TRAPPIST-1e  34.0  False
4273     9269_01      Earth     False       NaN    TRAPPIST-1e  42.0  False
4274     9271_01       Mars      True   D/296/P    55 Cancri e   NaN  False
4275     9273_01     Europa     False   D/297/P            NaN   NaN  False
4276     9277_01      Earth      True  G/1498/S  PSO J318.5-22  43.0  False

      RoomService  FoodCourt  ShoppingMall     Spa  VRDeck              Name
0             0.0        0.0           0.0     0.0     0.0   Nelly Carsoning
1             0.0        9.0           0.0  2823.0     0.0    Lerome Peckers
2             0.0        0.0           0.0     0.0     0.0   Sabih Unhearfus
3             0.0     6652.0           0.0   181.0   585.0  Meratz Caltilter
4            10.0        0.0         635.0     0.0     0.0   Brence Harperez
...           ...        ...           ...     ...     ...               ...
4272          0.0        0.0           0.0     0.0     0.0       Jeron Peter
4273          0.0      847.0          17.0    10.0   144.0     Matty Scheron
4274          0.0        0.0           0.0     0.0     0.0       Jayrin Pore
4275          0.0     2680.0           0.0     0.0   523.0    Kitakan Conale
4276          0.0        0.0           0.0     0.0     0.0  Lilace Leonzaley

[4277 rows x 13 columns]

In [253]:
group = []
for i in x['PassengerId']:
    pax_group = i.split("_")
    group.append(pax_group[0])
x['Group'] = group

deck, num, side = [], [], []
for i in x['Cabin']:
    if "/" in str(i) :
        pax_cabin = i.split("/")
        deck.append(pax_cabin[0])
        num.append(pax_cabin[1])
        side.append(pax_cabin[2])
    else:
        deck.append(None)
        num.append(None)
        side.append(None)
x["Deck"], x["Num"], x["Side"] = deck, num, side

last_name = []
for i in x["Name"]:
    if " " in str(i):
        pax_name = i.split(" ")
        last_name.append(pax_name[1])
    else:
        last_name.append(None)
x["LastName"] = last_name

x = x.drop(columns=['PassengerId', 'Cabin', 'Name'])

In [254]:
print(x)

     HomePlanet CryoSleep    Destination   Age    VIP  RoomService  FoodCourt  \
0        Europa     False    TRAPPIST-1e  39.0  False          0.0        0.0
1         Earth     False    TRAPPIST-1e  24.0  False        109.0        9.0
2        Europa     False    TRAPPIST-1e  58.0   True         43.0     3576.0
3        Europa     False    TRAPPIST-1e  33.0  False          0.0     1283.0
4         Earth     False    TRAPPIST-1e  16.0  False        303.0       70.0
...         ...       ...            ...   ...    ...          ...        ...
8688     Europa     False    55 Cancri e  41.0   True          0.0     6819.0
8689      Earth      True  PSO J318.5-22  18.0  False          0.0        0.0
8690      Earth     False    TRAPPIST-1e  26.0  False          0.0        0.0
8691     Europa     False    55 Cancri e  32.0  False          0.0     1049.0
8692     Europa     False    TRAPPIST-1e  44.0  False        126.0     4688.0

      ShoppingMall     Spa  VRDeck  Transported Group Deck   Num Side  \
0              0.0     0.0     0.0        False  0001    B     0    P
1             25.0   549.0    44.0         True  0002    F     0    S
2              0.0  6715.0    49.0        False  0003    A     0    S
3            371.0  3329.0   193.0        False  0003    A     0    S
4            151.0   565.0     2.0         True  0004    F     1    S
...            ...     ...     ...          ...   ...  ...   ...  ...
8688           0.0  1643.0    74.0        False  9276    A    98    P
8689           0.0     0.0     0.0        False  9278    G  1499    S
8690        1872.0     1.0     0.0         True  9279    G  1500    S
8691           0.0   353.0  3235.0        False  9280    E   608    S
8692           0.0     0.0    12.0         True  9280    E   608    S

         LastName
0       Ofracculy
1           Vines
2          Susent
3          Susent
4     Santantines
...           ...
8688    Noxnuther
8689    Mondalley
8690       Connon
8691    Hontichre
8692    Hontichre

[8693 rows x 16 columns]

In [255]:
x.isnull().sum()

HomePlanet      201
CryoSleep       217
Destination     182
Age             179
VIP             203
RoomService     181
FoodCourt       183
ShoppingMall    208
Spa             183
VRDeck          188
Transported       0
Group             0
Deck            199
Num             199
Side            199
LastName        200
dtype: int64

In [256]:
from sklearn.preprocessing import LabelEncoder
encode_list = ['HomePlanet', 'CryoSleep', 'Destination', 'VIP', 'Deck', 'Group',  
               'Num', 'Side', 'LastName']
for i in encode_list:
    x[i] = LabelEncoder().fit_transform(x[i])
x.isnull().sum()

HomePlanet        0
CryoSleep         0
Destination       0
Age             179
VIP               0
RoomService     181
FoodCourt       183
ShoppingMall    208
Spa             183
VRDeck          188
Transported       0
Group             0
Deck              0
Num               0
Side              0
LastName          0
dtype: int64

In [257]:
from sklearn.impute import SimpleImputer
imputer_cols = ["Age", "FoodCourt", "ShoppingMall", "Spa", "VRDeck" ,"RoomService"]
imputer = SimpleImputer(strategy='mean')
imputer.fit(x[imputer_cols])
x[imputer_cols] = imputer.transform(x[imputer_cols])
x.isnull().sum()

HomePlanet      0
CryoSleep       0
Destination     0
Age             0
VIP             0
RoomService     0
FoodCourt       0
ShoppingMall    0
Spa             0
VRDeck          0
Transported     0
Group           0
Deck            0
Num             0
Side            0
LastName        0
dtype: int64

In [258]:
x

,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported,Group,Deck,Num,Side,LastName
0,1,0,2,39.0,0,0.0,0.0,0.0,0.0,0.0,False,0,1,0,0,1431
1,0,0,2,24.0,0,109.0,9.0,25.0,549.0,44.0,True,1,5,0,1,2109
2,1,0,2,58.0,1,43.0,3576.0,0.0,6715.0,49.0,False,2,0,0,1,1990
3,1,0,2,33.0,0,0.0,1283.0,371.0,3329.0,193.0,False,2,0,0,1,1990
4,0,0,2,16.0,0,303.0,70.0,151.0,565.0,2.0,True,3,5,1,1,1778
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,1,0,0,41.0,1,0.0,6819.0,0.0,1643.0,74.0,False,6213,0,1795,0,1416
8689,0,1,1,18.0,0,0.0,0.0,0.0,0.0,0.0,False,6214,6,548,1,1341
8690,0,0,2,26.0,0,0.0,0.0,1872.0,1.0,0.0,True,6215,6,551,1,470
8691,1,0,0,32.0,0,0.0,1049.0,0.0,353.0,3235.0,False,6216,4,1385,1,996
8692,1,0,2,44.0,0,126.0,4688.0,0.0,0.0,12.0,True,6216,4,1385,1,996

In [259]:
import seaborn as sns

features = ["Age", "FoodCourt", "ShoppingMall", "Spa", "VRDeck" ,"RoomService"]
for i in features: 
    Q1 = x[i].quantile(0.25)
    Q3 = x[i].quantile(0.75)
    IQR = Q3 - Q1
    print("The current feature is {}, with lower bound: {} and upper bound: {}".format(
          i, Q1 - 1.5 * IQR, Q3 + 1.5 * IQR))

The current feature is Age, with lower bound: -5.5 and upper bound: 62.5
The current feature is FoodCourt, with lower bound: -177.0 and upper bound: 295.0
The current feature is ShoppingMall, with lower bound: -67.5 and upper bound: 112.5
The current feature is Spa, with lower bound: -133.5 and upper bound: 222.5
The current feature is VRDeck, with lower bound: -106.5 and upper bound: 177.5
The current feature is RoomService, with lower bound: -117.0 and upper bound: 195.0

In [260]:
#x = x.query('-1770. < FoodCourt < 295.0')
#x.shape

In [261]:
x

,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported,Group,Deck,Num,Side,LastName
0,1,0,2,39.0,0,0.0,0.0,0.0,0.0,0.0,False,0,1,0,0,1431
1,0,0,2,24.0,0,109.0,9.0,25.0,549.0,44.0,True,1,5,0,1,2109
2,1,0,2,58.0,1,43.0,3576.0,0.0,6715.0,49.0,False,2,0,0,1,1990
3,1,0,2,33.0,0,0.0,1283.0,371.0,3329.0,193.0,False,2,0,0,1,1990
4,0,0,2,16.0,0,303.0,70.0,151.0,565.0,2.0,True,3,5,1,1,1778
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,1,0,0,41.0,1,0.0,6819.0,0.0,1643.0,74.0,False,6213,0,1795,0,1416
8689,0,1,1,18.0,0,0.0,0.0,0.0,0.0,0.0,False,6214,6,548,1,1341
8690,0,0,2,26.0,0,0.0,0.0,1872.0,1.0,0.0,True,6215,6,551,1,470
8691,1,0,0,32.0,0,0.0,1049.0,0.0,353.0,3235.0,False,6216,4,1385,1,996
8692,1,0,2,44.0,0,126.0,4688.0,0.0,0.0,12.0,True,6216,4,1385,1,996

In [262]:
y = x['Transported']
x = x.drop(columns=['Transported'])
print(x, y)

      HomePlanet  CryoSleep  Destination   Age  VIP  RoomService  FoodCourt  \
0              1          0            2  39.0    0          0.0        0.0
1              0          0            2  24.0    0        109.0        9.0
2              1          0            2  58.0    1         43.0     3576.0
3              1          0            2  33.0    0          0.0     1283.0
4              0          0            2  16.0    0        303.0       70.0
...          ...        ...          ...   ...  ...          ...        ...
8688           1          0            0  41.0    1          0.0     6819.0
8689           0          1            1  18.0    0          0.0        0.0
8690           0          0            2  26.0    0          0.0        0.0
8691           1          0            0  32.0    0          0.0     1049.0
8692           1          0            2  44.0    0        126.0     4688.0

      ShoppingMall     Spa  VRDeck  Group  Deck   Num  Side  LastName
0              0.0     0.0     0.0      0     1     0     0      1431
1             25.0   549.0    44.0      1     5     0     1      2109
2              0.0  6715.0    49.0      2     0     0     1      1990
3            371.0  3329.0   193.0      2     0     0     1      1990
4            151.0   565.0     2.0      3     5     1     1      1778
...            ...     ...     ...    ...   ...   ...   ...       ...
8688           0.0  1643.0    74.0   6213     0  1795     0      1416
8689           0.0     0.0     0.0   6214     6   548     1      1341
8690        1872.0     1.0     0.0   6215     6   551     1       470
8691           0.0   353.0  3235.0   6216     4  1385     1       996
8692           0.0     0.0    12.0   6216     4  1385     1       996

[8693 rows x 15 columns] 0       False
1        True
2       False
3       False
4        True
        ...
8688    False
8689    False
8690     True
8691    False
8692     True
Name: Transported, Length: 8693, dtype: bool

In [263]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(x,y,test_size=0.15,random_state=0)

In [264]:
import lightgbm as lgb
model = lgb.LGBMClassifier(learning_rate=0.1, num_leaves=20, feature_fraction=.9, 
                              max_depth=15, max_bin=100, min_data_in_leaf=20)
model.fit(X_train,y_train.values.ravel(), eval_metric='auc')

[LightGBM] [Warning] min_data_in_leaf is set=20, min_child_samples=20 will be ignored. Current value: min_data_in_leaf=20
[LightGBM] [Warning] feature_fraction is set=0.9, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.9

LGBMClassifier(feature_fraction=0.9, max_bin=100, max_depth=15,
               min_data_in_leaf=20, num_leaves=20)

In [265]:
y_pred = model.predict(X_test)
print(y_pred)

[False  True False ... False False False]

In [266]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

0.8105828220858896

In [267]:
for i in subsample: 
    model = lgb.LGBMClassifier(learning_rate=0.1, num_leaves=20, feature_fraction=.9, 
                              max_depth=15, max_bin=100, min_data_in_leaf=20)
    model.fit(X_train,y_train.values.ravel(), eval_metric='auc')
    y_pred = model.predict(X_test)
    y_pred_train = model.predict(X_train)
    print("")
    print("for training set: current subsample is {}, accuracy is {}".format(i, 
                                                               accuracy_score(y_train, y_pred_train)))
    print("current subsample is {}, accuracy is {}".format(i, 
                                                               accuracy_score(y_test, y_pred)))
    print("")

[LightGBM] [Warning] min_data_in_leaf is set=20, min_child_samples=20 will be ignored. Current value: min_data_in_leaf=20
[LightGBM] [Warning] feature_fraction is set=0.9, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.9

for training set: current subsample is 0.01, accuracy is 0.8652050345107593
current subsample is 0.01, accuracy is 0.8105828220858896

[LightGBM] [Warning] min_data_in_leaf is set=20, min_child_samples=20 will be ignored. Current value: min_data_in_leaf=20
[LightGBM] [Warning] feature_fraction is set=0.9, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.9

for training set: current subsample is 0.05, accuracy is 0.8652050345107593
current subsample is 0.05, accuracy is 0.8105828220858896

[LightGBM] [Warning] min_data_in_leaf is set=20, min_child_samples=20 will be ignored. Current value: min_data_in_leaf=20
[LightGBM] [Warning] feature_fraction is set=0.9, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.9

for training set: current subsample is 0.1, accuracy is 0.8652050345107593
current subsample is 0.1, accuracy is 0.8105828220858896

[LightGBM] [Warning] min_data_in_leaf is set=20, min_child_samples=20 will be ignored. Current value: min_data_in_leaf=20
[LightGBM] [Warning] feature_fraction is set=0.9, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.9

for training set: current subsample is 0.5, accuracy is 0.8652050345107593
current subsample is 0.5, accuracy is 0.8105828220858896

[LightGBM] [Warning] min_data_in_leaf is set=20, min_child_samples=20 will be ignored. Current value: min_data_in_leaf=20
[LightGBM] [Warning] feature_fraction is set=0.9, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.9

for training set: current subsample is 1, accuracy is 0.8652050345107593
current subsample is 1, accuracy is 0.8105828220858896

In [268]:
group = []
for i in x_test['PassengerId']:
    pax_group = i.split("_")
    group.append(pax_group[0])
x_test['Group'] = group

deck, num, side = [], [], []
for i in x_test['Cabin']:
    if "/" in str(i) :
        pax_cabin = i.split("/")
        deck.append(pax_cabin[0])
        num.append(pax_cabin[1])
        side.append(pax_cabin[2])
    else:
        deck.append(None)
        num.append(None)
        side.append(None)
x_test["Deck"], x_test["Num"], x_test["Side"] = deck, num, side

last_name = []
for i in x_test["Name"]:
    if " " in str(i):
        pax_name = i.split(" ")
        last_name.append(pax_name[1])
    else:
        last_name.append(None)
x_test["LastName"] = last_name

x_test = x_test.drop(columns=['PassengerId', 'Cabin', 'Name'])

In [269]:
from sklearn.preprocessing import LabelEncoder
encode_list = ['HomePlanet', 'CryoSleep', 'Destination', 'VIP', 'Deck', 'Group',  
               'Num', 'Side', 'LastName']
for i in encode_list:
    x_test[i] = LabelEncoder().fit_transform(x_test[i])

In [270]:
from sklearn.impute import SimpleImputer
imputer_cols = ["Age", "FoodCourt", "ShoppingMall", "Spa", "VRDeck" ,"RoomService"]
imputer = SimpleImputer(strategy='mean')
imputer.fit(x_test[imputer_cols])
x_test[imputer_cols] = imputer.transform(x_test[imputer_cols])

In [271]:
x_test

,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Group,Deck,Num,Side,LastName
0,0,1,2,27.000000,0,0.0,0.0,0.0,0.0,0.0,0,6,820,1,275
1,0,0,2,19.000000,0,0.0,9.0,0.0,2823.0,0.0,1,5,927,1,1190
2,1,1,0,31.000000,0,0.0,0.0,0.0,0.0,0.0,2,2,0,1,1604
3,1,0,2,38.000000,0,0.0,6652.0,0.0,181.0,585.0,3,2,1,1,262
4,0,0,2,20.000000,0,10.0,0.0,635.0,0.0,0.0,4,5,1029,1,736
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4272,0,1,2,34.000000,0,0.0,0.0,0.0,0.0,0.0,3058,6,452,1,1209
4273,0,0,2,42.000000,0,0.0,847.0,17.0,10.0,144.0,3059,8,1505,2,1401
4274,2,1,0,28.658146,0,0.0,0.0,0.0,0.0,0.0,3060,3,816,0,1241
4275,1,0,3,28.658146,0,0.0,2680.0,0.0,0.0,523.0,3061,3,817,0,362
4276,0,1,1,43.000000,0,0.0,0.0,0.0,0.0,0.0,3062,6,453,1,948

In [272]:
model = lgb.LGBMClassifier()
model.fit(x,y.values.ravel(), eval_metric='auc')
y_pred = model.predict(x_test)

In [273]:
print(y_pred)

[ True False  True ...  True False  True]

In [274]:
passid = data_test['PassengerId'].tolist()
df = pd.DataFrame(list(zip(passid, y_pred)),
               columns =['PassengerId', 'Transported'])
df.to_csv("file.csv", index = False)